.navbar {
    height: clamp(56px, 10vh, 72px);
    width: 100%;
    background-color: #131313;

    display: grid;
    grid-template-columns: 1fr auto 1fr;

    padding: 0 1.5rem;
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 1rem;
}

.logo {
    justify-self: start;
    background-image: url("../../../assets/logo.png");
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 20%;
}

.logo a {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.links {
    justify-self: center;
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

.link {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: color 0.2s ease;
}

.link:hover {
    color: white;
}

.actions {
    justify-self: end;
    display: flex;
    gap: 0.75rem;
}

.buttonLink {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: rgb(29, 29, 29);
    border-radius: 8px;
    background-color: #d1d1d1;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.buttonLink:hover {
    color: var(--primaryDark);
    background-color: #f0f0f0;
}

.buttonPrimary {
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    background-color: var(--primaryLight);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.buttonPrimary:hover {
    background-color: #fdfdfd;
    color: var(--primaryDark);
}
