USE [master]
GO
/****** Object:  Database [SistemaGestionHotelera]    Script Date: 22/1/2026 19:46:45 ******/
CREATE DATABASE [SistemaGestionHotelera]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaGestionHotelera', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SistemaGestionHotelera.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaGestionHotelera_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SistemaGestionHotelera_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaGestionHotelera].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaGestionHotelera]
GO
/****** Object:  User [proyBD]    Script Date: 22/1/2026 19:46:45 ******/
CREATE USER [proyBD] FOR LOGIN [proyBD] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Canton]    Script Date: 22/1/2026 19:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canton](
	[cantonID] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[provinciaID] [int] NOT NULL,
 CONSTRAINT [PK_Canton] PRIMARY KEY CLUSTERED 
(
	[cantonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[provinciaID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[paisID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[provinciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[paisID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[codigoTelefonico] [int] NOT NULL,
 CONSTRAINT [PK__Pais__45785BAB1D9D3665] PRIMARY KEY CLUSTERED 
(
	[paisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[distritoID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](40) NOT NULL,
	[cantonID] [int] NOT NULL,
 CONSTRAINT [PK__Distrito__E9E637343E23D1C8] PRIMARY KEY CLUSTERED 
(
	[distritoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ubicaciones]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ubicaciones]
AS
SELECT        P.nombre AS pais, P.codigoTelefonico AS codTel, PR.nombre AS provincia, C.nombre AS canton, D.nombre AS distrito
FROM            dbo.Pais AS P LEFT OUTER JOIN
                         dbo.Provincia AS PR ON P.paisID = PR.paisID LEFT OUTER JOIN
                         dbo.Canton AS C ON C.provinciaID = PR.provinciaID LEFT OUTER JOIN
                         dbo.Distrito AS D ON D.cantonID = C.cantonID
GO
/****** Object:  Table [dbo].[CargoHabitacion]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CargoHabitacion](
	[cargoID] [int] IDENTITY(1,1) NOT NULL,
	[numReservacion] [int] NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[descripcion] [varchar](max) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cargoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[identificacion] [varchar](12) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[primerApellido] [varchar](20) NOT NULL,
	[segundoApellido] [varchar](20) NULL,
	[fechaNacimiento] [date] NOT NULL,
	[paisID] [int] NOT NULL,
	[distritoID] [int] NULL,
	[telefono1] [varchar](8) NOT NULL,
	[telefono2] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comodidad]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comodidad](
	[comodidadID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Comodidad] PRIMARY KEY CLUSTERED 
(
	[comodidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[cuentaID] [int] IDENTITY(1,1) NOT NULL,
	[correo] [varchar](30) NOT NULL,
	[contrasenia] [varbinary](256) NOT NULL,
	[rolID] [tinyint] NOT NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[cuentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cuenta_Correo] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[cedulaJuridica] [varchar](10) NOT NULL,
	[nombre] [varchar](25) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](8) NOT NULL,
	[nombreContacto] [varchar](25) NOT NULL,
	[distritoID] [int] NOT NULL,
	[referencias] [varchar](max) NOT NULL,
	[cuentaID] [int] NOT NULL,
	[descripcion] [varchar](max) NOT NULL,
 CONSTRAINT [PK__Empresa__DD9A4FB5E634EE4C] PRIMARY KEY CLUSTERED 
(
	[cedulaJuridica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Empresa__2A586E0B9B57F109] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpresaActividad]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpresaActividad](
	[cedulaJuridica] [varchar](10) NOT NULL,
	[tipoActividadID] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[fotoID] [int] NOT NULL,
 CONSTRAINT [PK_EmpresaActividad] PRIMARY KEY CLUSTERED 
(
	[cedulaJuridica] ASC,
	[tipoActividadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpresaServicio]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpresaServicio](
	[cedulaJuridica] [varchar](10) NOT NULL,
	[servicioID] [tinyint] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_EmpresaServicio] PRIMARY KEY CLUSTERED 
(
	[cedulaJuridica] ASC,
	[servicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[numFactura] [int] IDENTITY(1,1) NOT NULL,
	[numReservacion] [int] NOT NULL,
	[noches] [int] NOT NULL,
	[tipoPagoID] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[importeTotal] [decimal](10, 2) NOT NULL,
	[activa] [bit] NOT NULL,
 CONSTRAINT [PK__Factura__C989668BD36D11F1] PRIMARY KEY CLUSTERED 
(
	[numFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foto]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foto](
	[fotoID] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[url] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FotoHabitacion]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FotoHabitacion](
	[fotoID] [int] NOT NULL,
	[habitacionID] [int] NOT NULL,
 CONSTRAINT [PK_FotoHabitacion] PRIMARY KEY CLUSTERED 
(
	[fotoID] ASC,
	[habitacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitacion]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitacion](
	[habitacionID] [int] IDENTITY(1,1) NOT NULL,
	[tipoHabitacionID] [tinyint] NOT NULL,
	[estado] [bit] NOT NULL,
	[numero] [int] NOT NULL,
	[cedulaJuridica] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[habitacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HabitacionComodidad]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HabitacionComodidad](
	[habitacionID] [int] NOT NULL,
	[comodidadID] [int] NOT NULL,
 CONSTRAINT [PK_HabitacionComodidad] PRIMARY KEY CLUSTERED 
(
	[habitacionID] ASC,
	[comodidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospedaje]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospedaje](
	[cedulaJuridica] [varchar](10) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[tipoHospedajeID] [tinyint] NOT NULL,
	[correo] [varchar](30) NOT NULL,
	[webURL] [varchar](150) NULL,
	[distritoID] [int] NOT NULL,
	[barrio] [varchar](50) NOT NULL,
	[referencias] [varchar](max) NOT NULL,
	[telefono1] [varchar](8) NOT NULL,
	[telefono2] [varchar](8) NOT NULL,
	[cuentaID] [int] NOT NULL,
 CONSTRAINT [PK__Hospedaj__DD9A4FB5C3E8C1D1] PRIMARY KEY CLUSTERED 
(
	[cedulaJuridica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Hospedaj__2A586E0B274FB9E6] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HospedajeRedSocial]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospedajeRedSocial](
	[cedulaJuridica] [varchar](10) NOT NULL,
	[redSocialID] [tinyint] NOT NULL,
	[url] [varchar](150) NOT NULL,
 CONSTRAINT [PK_HospedajeRedSocial] PRIMARY KEY CLUSTERED 
(
	[cedulaJuridica] ASC,
	[redSocialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HospedajeServicio]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospedajeServicio](
	[cedulaJuridica] [varchar](10) NOT NULL,
	[servicioID] [tinyint] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_HospedajeServicio] PRIMARY KEY CLUSTERED 
(
	[cedulaJuridica] ASC,
	[servicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RedSocial]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RedSocial](
	[redSocialID] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[iconUrl] [varchar](100) NOT NULL,
 CONSTRAINT [PK__RedSocia__243D298FE882D527] PRIMARY KEY CLUSTERED 
(
	[redSocialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservacion]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservacion](
	[numReservacion] [int] IDENTITY(1,1) NOT NULL,
	[identificacion] [varchar](12) NOT NULL,
	[habitacionID] [int] NOT NULL,
	[fechaIngreso] [datetime] NOT NULL,
	[fechaSalida] [datetime] NOT NULL,
	[cantPersonas] [int] NOT NULL,
	[vehiculo] [bit] NOT NULL,
	[activa] [bit] NOT NULL,
 CONSTRAINT [PK__Reservac__F334F0BD65BE1AF6] PRIMARY KEY CLUSTERED 
(
	[numReservacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[rolID] [tinyint] NOT NULL,
	[nombre] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[rolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[servicioID] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[servicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoActividad]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoActividad](
	[tipoActividadID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tipoActividadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoCama]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoCama](
	[tipoCamaID] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tipoCamaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoHabitacion]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoHabitacion](
	[tipoHabitacionID] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](10) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[tipoCamaID] [tinyint] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tipoHabitacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoHospedaje]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoHospedaje](
	[tipoHospedajeID] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tipoHospedajeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPago]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPago](
	[tipoPagoID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tipoPagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CargoHabitacion] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[EmpresaActividad] ADD  CONSTRAINT [DF_EmpresaActividad_Activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[EmpresaServicio] ADD  CONSTRAINT [DF_EmpresaServicio_Activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Factura] ADD  CONSTRAINT [DF_Factura_FechaCreacion]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[HospedajeServicio] ADD  CONSTRAINT [DF_HospedajeServicio_Activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Reservacion] ADD  CONSTRAINT [DF__Reservaci__fecha__02084FDA]  DEFAULT (getdate()) FOR [fechaIngreso]
GO
ALTER TABLE [dbo].[Canton]  WITH CHECK ADD  CONSTRAINT [FK_Canton_Provincia] FOREIGN KEY([provinciaID])
REFERENCES [dbo].[Provincia] ([provinciaID])
GO
ALTER TABLE [dbo].[Canton] CHECK CONSTRAINT [FK_Canton_Provincia]
GO
ALTER TABLE [dbo].[CargoHabitacion]  WITH CHECK ADD  CONSTRAINT [FK_CargoHabitacion_Reservacion] FOREIGN KEY([numReservacion])
REFERENCES [dbo].[Reservacion] ([numReservacion])
GO
ALTER TABLE [dbo].[CargoHabitacion] CHECK CONSTRAINT [FK_CargoHabitacion_Reservacion]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Distrito] FOREIGN KEY([distritoID])
REFERENCES [dbo].[Distrito] ([distritoID])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Distrito]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Pais] FOREIGN KEY([paisID])
REFERENCES [dbo].[Pais] ([paisID])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Pais]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Rol] FOREIGN KEY([rolID])
REFERENCES [dbo].[Rol] ([rolID])
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [FK_Cuenta_Rol]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [FK_Distrito_Canton] FOREIGN KEY([cantonID])
REFERENCES [dbo].[Canton] ([cantonID])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [FK_Distrito_Canton]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Cuenta] FOREIGN KEY([cuentaID])
REFERENCES [dbo].[Cuenta] ([cuentaID])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_Cuenta]
GO
ALTER TABLE [dbo].[EmpresaActividad]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaActividad_Empresa] FOREIGN KEY([cedulaJuridica])
REFERENCES [dbo].[Empresa] ([cedulaJuridica])
GO
ALTER TABLE [dbo].[EmpresaActividad] CHECK CONSTRAINT [FK_EmpresaActividad_Empresa]
GO
ALTER TABLE [dbo].[EmpresaActividad]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaActividad_Foto] FOREIGN KEY([fotoID])
REFERENCES [dbo].[Foto] ([fotoID])
GO
ALTER TABLE [dbo].[EmpresaActividad] CHECK CONSTRAINT [FK_EmpresaActividad_Foto]
GO
ALTER TABLE [dbo].[EmpresaActividad]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaActividad_TipoActividad] FOREIGN KEY([tipoActividadID])
REFERENCES [dbo].[TipoActividad] ([tipoActividadID])
GO
ALTER TABLE [dbo].[EmpresaActividad] CHECK CONSTRAINT [FK_EmpresaActividad_TipoActividad]
GO
ALTER TABLE [dbo].[EmpresaServicio]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaServicio_Empresa] FOREIGN KEY([cedulaJuridica])
REFERENCES [dbo].[Empresa] ([cedulaJuridica])
GO
ALTER TABLE [dbo].[EmpresaServicio] CHECK CONSTRAINT [FK_EmpresaServicio_Empresa]
GO
ALTER TABLE [dbo].[EmpresaServicio]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaServicio_Servicio] FOREIGN KEY([servicioID])
REFERENCES [dbo].[Servicio] ([servicioID])
GO
ALTER TABLE [dbo].[EmpresaServicio] CHECK CONSTRAINT [FK_EmpresaServicio_Servicio]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Reservacion] FOREIGN KEY([numReservacion])
REFERENCES [dbo].[Reservacion] ([numReservacion])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Reservacion]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_TipoPago] FOREIGN KEY([tipoPagoID])
REFERENCES [dbo].[TipoPago] ([tipoPagoID])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_TipoPago]
GO
ALTER TABLE [dbo].[FotoHabitacion]  WITH CHECK ADD  CONSTRAINT [FK_FotoHabitacion_Foto] FOREIGN KEY([fotoID])
REFERENCES [dbo].[Foto] ([fotoID])
GO
ALTER TABLE [dbo].[FotoHabitacion] CHECK CONSTRAINT [FK_FotoHabitacion_Foto]
GO
ALTER TABLE [dbo].[FotoHabitacion]  WITH CHECK ADD  CONSTRAINT [FK_FotoHabitacion_Habitacion] FOREIGN KEY([habitacionID])
REFERENCES [dbo].[Habitacion] ([habitacionID])
GO
ALTER TABLE [dbo].[FotoHabitacion] CHECK CONSTRAINT [FK_FotoHabitacion_Habitacion]
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD  CONSTRAINT [FK_Habitacion_Hospedaje] FOREIGN KEY([cedulaJuridica])
REFERENCES [dbo].[Hospedaje] ([cedulaJuridica])
GO
ALTER TABLE [dbo].[Habitacion] CHECK CONSTRAINT [FK_Habitacion_Hospedaje]
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD  CONSTRAINT [FK_Habitacion_TipoHabitacion] FOREIGN KEY([tipoHabitacionID])
REFERENCES [dbo].[TipoHabitacion] ([tipoHabitacionID])
GO
ALTER TABLE [dbo].[Habitacion] CHECK CONSTRAINT [FK_Habitacion_TipoHabitacion]
GO
ALTER TABLE [dbo].[HabitacionComodidad]  WITH CHECK ADD  CONSTRAINT [FK_HabitacionComodidad_Comodidad] FOREIGN KEY([comodidadID])
REFERENCES [dbo].[Comodidad] ([comodidadID])
GO
ALTER TABLE [dbo].[HabitacionComodidad] CHECK CONSTRAINT [FK_HabitacionComodidad_Comodidad]
GO
ALTER TABLE [dbo].[HabitacionComodidad]  WITH CHECK ADD  CONSTRAINT [FK_HabitacionComodidad_Habitacion] FOREIGN KEY([habitacionID])
REFERENCES [dbo].[Habitacion] ([habitacionID])
GO
ALTER TABLE [dbo].[HabitacionComodidad] CHECK CONSTRAINT [FK_HabitacionComodidad_Habitacion]
GO
ALTER TABLE [dbo].[Hospedaje]  WITH CHECK ADD  CONSTRAINT [FK_Hospedaje_Cuenta] FOREIGN KEY([cuentaID])
REFERENCES [dbo].[Cuenta] ([cuentaID])
GO
ALTER TABLE [dbo].[Hospedaje] CHECK CONSTRAINT [FK_Hospedaje_Cuenta]
GO
ALTER TABLE [dbo].[Hospedaje]  WITH CHECK ADD  CONSTRAINT [FK_Hospedaje_Distrito] FOREIGN KEY([distritoID])
REFERENCES [dbo].[Distrito] ([distritoID])
GO
ALTER TABLE [dbo].[Hospedaje] CHECK CONSTRAINT [FK_Hospedaje_Distrito]
GO
ALTER TABLE [dbo].[Hospedaje]  WITH CHECK ADD  CONSTRAINT [FK_Hospedaje_TipoHospedaje] FOREIGN KEY([tipoHospedajeID])
REFERENCES [dbo].[TipoHospedaje] ([tipoHospedajeID])
GO
ALTER TABLE [dbo].[Hospedaje] CHECK CONSTRAINT [FK_Hospedaje_TipoHospedaje]
GO
ALTER TABLE [dbo].[HospedajeRedSocial]  WITH CHECK ADD  CONSTRAINT [FK_HospedajeRedSocial_Hospedaje] FOREIGN KEY([cedulaJuridica])
REFERENCES [dbo].[Hospedaje] ([cedulaJuridica])
GO
ALTER TABLE [dbo].[HospedajeRedSocial] CHECK CONSTRAINT [FK_HospedajeRedSocial_Hospedaje]
GO
ALTER TABLE [dbo].[HospedajeRedSocial]  WITH CHECK ADD  CONSTRAINT [FK_HospedajeRedSocial_RedSocial] FOREIGN KEY([redSocialID])
REFERENCES [dbo].[RedSocial] ([redSocialID])
GO
ALTER TABLE [dbo].[HospedajeRedSocial] CHECK CONSTRAINT [FK_HospedajeRedSocial_RedSocial]
GO
ALTER TABLE [dbo].[HospedajeServicio]  WITH CHECK ADD  CONSTRAINT [FK_HospedajeServicio_Hospedaje1] FOREIGN KEY([cedulaJuridica])
REFERENCES [dbo].[Hospedaje] ([cedulaJuridica])
GO
ALTER TABLE [dbo].[HospedajeServicio] CHECK CONSTRAINT [FK_HospedajeServicio_Hospedaje1]
GO
ALTER TABLE [dbo].[HospedajeServicio]  WITH CHECK ADD  CONSTRAINT [FK_HospedajeServicio_Servicio] FOREIGN KEY([servicioID])
REFERENCES [dbo].[Servicio] ([servicioID])
GO
ALTER TABLE [dbo].[HospedajeServicio] CHECK CONSTRAINT [FK_HospedajeServicio_Servicio]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [FK_Provincia_Pais] FOREIGN KEY([paisID])
REFERENCES [dbo].[Pais] ([paisID])
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [FK_Provincia_Pais]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Cliente] FOREIGN KEY([identificacion])
REFERENCES [dbo].[Cliente] ([identificacion])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reservacion_Cliente]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Habitacion] FOREIGN KEY([habitacionID])
REFERENCES [dbo].[Habitacion] ([habitacionID])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reservacion_Habitacion]
GO
ALTER TABLE [dbo].[TipoHabitacion]  WITH CHECK ADD  CONSTRAINT [FK_TipoHabitacion_TipoCama] FOREIGN KEY([tipoCamaID])
REFERENCES [dbo].[TipoCama] ([tipoCamaID])
GO
ALTER TABLE [dbo].[TipoHabitacion] CHECK CONSTRAINT [FK_TipoHabitacion_TipoCama]
GO
ALTER TABLE [dbo].[CargoHabitacion]  WITH CHECK ADD CHECK  ((len(ltrim(rtrim([descripcion])))>(0)))
GO
ALTER TABLE [dbo].[CargoHabitacion]  WITH CHECK ADD CHECK  (([fecha]<=getdate()))
GO
ALTER TABLE [dbo].[CargoHabitacion]  WITH CHECK ADD CHECK  (([monto]>=(0)))
GO
ALTER TABLE [dbo].[CargoHabitacion]  WITH CHECK ADD CHECK  ((len(ltrim(rtrim([titulo])))>(0)))
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  (([fechaNacimiento]<=getdate()))
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  ((len(ltrim(rtrim([identificacion])))>(0)))
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  ((len(ltrim(rtrim([nombre])))>(0)))
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  ((len(ltrim(rtrim([primerApellido])))>(0)))
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  (([segundoApellido] IS NULL OR len(ltrim(rtrim([segundoApellido])))>(0)))
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  ((len(ltrim(rtrim([telefono1])))>=(8)))
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD CHECK  (([telefono2] IS NULL OR len(ltrim(rtrim([telefono2])))>=(8)))
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [CK_Cuenta] CHECK  (([correo] like '%_@_%._%'))
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [CK_Cuenta]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [CK__Distrito__nombre__3F466844] CHECK  ((len(ltrim(rtrim([nombre])))>(0)))
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [CK__Distrito__nombre__3F466844]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [CK__Empresa__cedulaJ__4316F928] CHECK  (([cedulaJuridica] like '3[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [CK__Empresa__cedulaJ__4316F928]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [CK__Empresa__correo__44FF419A] CHECK  (([correo] like '%_@_%._%'))
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [CK__Empresa__correo__44FF419A]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [CK__Empresa__distrit__47DBAE45] CHECK  (([distritoID]>(0)))
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [CK__Empresa__distrit__47DBAE45]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [CK__Empresa__nombre__440B1D61] CHECK  ((len(ltrim(rtrim([nombre])))>(0)))
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [CK__Empresa__nombre__440B1D61]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [CK__Empresa__nombreC__46E78A0C] CHECK  ((ltrim(rtrim([nombreContacto]))<>''))
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [CK__Empresa__nombreC__46E78A0C]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [CK__Empresa__telefon__45F365D3] CHECK  ((len(ltrim(rtrim([telefono])))>=(8)))
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [CK__Empresa__telefon__45F365D3]
GO
ALTER TABLE [dbo].[EmpresaActividad]  WITH CHECK ADD CHECK  (([cedulaJuridica] like '3[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[EmpresaActividad]  WITH CHECK ADD CHECK  (([fotoID]>(0)))
GO
ALTER TABLE [dbo].[EmpresaActividad]  WITH CHECK ADD CHECK  (([tipoActividadID]>(0)))
GO
ALTER TABLE [dbo].[EmpresaServicio]  WITH CHECK ADD CHECK  (([cedulaJuridica] like '3[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [CK__Factura__importe__236943A5] CHECK  (([importeTotal]>=(0)))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [CK__Factura__importe__236943A5]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [CK__Factura__noches__2180FB33] CHECK  (([noches]>(0)))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [CK__Factura__noches__2180FB33]
GO
ALTER TABLE [dbo].[Foto]  WITH CHECK ADD CHECK  ((len(ltrim(rtrim([titulo])))>(0)))
GO
ALTER TABLE [dbo].[Foto]  WITH CHECK ADD CHECK  (([url] like 'http%'))
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD CHECK  (([cedulaJuridica] like '3[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Hospedaje]  WITH CHECK ADD  CONSTRAINT [CK__Hospedaje__cedul__5FB337D6] CHECK  (([cedulaJuridica] like '3[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Hospedaje] CHECK CONSTRAINT [CK__Hospedaje__cedul__5FB337D6]
GO
ALTER TABLE [dbo].[Hospedaje]  WITH CHECK ADD  CONSTRAINT [CK__Hospedaje__corre__619B8048] CHECK  (([correo] like '%_@_%._%'))
GO
ALTER TABLE [dbo].[Hospedaje] CHECK CONSTRAINT [CK__Hospedaje__corre__619B8048]
GO
ALTER TABLE [dbo].[Hospedaje]  WITH CHECK ADD  CONSTRAINT [CK__Hospedaje__nombr__60A75C0F] CHECK  ((len(ltrim(rtrim([nombre])))>(0)))
GO
ALTER TABLE [dbo].[Hospedaje] CHECK CONSTRAINT [CK__Hospedaje__nombr__60A75C0F]
GO
ALTER TABLE [dbo].[Hospedaje]  WITH CHECK ADD  CONSTRAINT [CK__Hospedaje__webUR__628FA481] CHECK  (([webURL] IS NULL OR [webURL] like 'http%'))
GO
ALTER TABLE [dbo].[Hospedaje] CHECK CONSTRAINT [CK__Hospedaje__webUR__628FA481]
GO
ALTER TABLE [dbo].[HospedajeRedSocial]  WITH CHECK ADD CHECK  (([cedulaJuridica] like '3[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[HospedajeRedSocial]  WITH CHECK ADD CHECK  (([url] like 'http%'))
GO
ALTER TABLE [dbo].[HospedajeServicio]  WITH CHECK ADD CHECK  (([cedulaJuridica] like '3[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Pais]  WITH CHECK ADD  CONSTRAINT [CK__Pais__codigoTele__2BFE89A6] CHECK  (([codigoTelefonico]>(0)))
GO
ALTER TABLE [dbo].[Pais] CHECK CONSTRAINT [CK__Pais__codigoTele__2BFE89A6]
GO
ALTER TABLE [dbo].[Pais]  WITH CHECK ADD  CONSTRAINT [CK__Pais__nombre__2CF2ADDF] CHECK  ((len(ltrim(rtrim([nombre])))>(0)))
GO
ALTER TABLE [dbo].[Pais] CHECK CONSTRAINT [CK__Pais__nombre__2CF2ADDF]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD CHECK  ((len(ltrim(rtrim([nombre])))>(0)))
GO
ALTER TABLE [dbo].[RedSocial]  WITH CHECK ADD  CONSTRAINT [CK__RedSocial__nombr__4D94879B] CHECK  ((len(ltrim(rtrim([nombre])))>(0)))
GO
ALTER TABLE [dbo].[RedSocial] CHECK CONSTRAINT [CK__RedSocial__nombr__4D94879B]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [CK__Reservaci__cantP__02FC7413] CHECK  (([cantPersonas]>(0)))
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [CK__Reservaci__cantP__02FC7413]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [CK__Reservaci__ident__01142BA1] CHECK  ((len(ltrim(rtrim([identificacion])))>(0)))
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [CK__Reservaci__ident__01142BA1]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [CK_Reservacion_Fechas] CHECK  (([fechaSalida]>[fechaIngreso]))
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [CK_Reservacion_Fechas]
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD CHECK  ((len(ltrim(rtrim([nombre])))>(0)))
GO
ALTER TABLE [dbo].[TipoActividad]  WITH CHECK ADD CHECK  ((len(ltrim(rtrim([nombre])))>(0)))
GO
ALTER TABLE [dbo].[TipoCama]  WITH CHECK ADD CHECK  ((len(ltrim(rtrim([nombre])))>(0)))
GO
ALTER TABLE [dbo].[TipoHabitacion]  WITH CHECK ADD CHECK  (([descripcion] IS NULL OR len(ltrim(rtrim([descripcion])))>(0)))
GO
ALTER TABLE [dbo].[TipoHabitacion]  WITH CHECK ADD CHECK  ((len(ltrim(rtrim([nombre])))>(0)))
GO
ALTER TABLE [dbo].[TipoHabitacion]  WITH CHECK ADD CHECK  (([precio]>(0)))
GO
ALTER TABLE [dbo].[TipoHospedaje]  WITH CHECK ADD CHECK  ((len(ltrim(rtrim([nombre])))>(0)))
GO
ALTER TABLE [dbo].[TipoPago]  WITH CHECK ADD CHECK  ((len(ltrim(rtrim([nombre])))>(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarClienteConCuenta]    Script Date: 22/1/2026 19:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarClienteConCuenta]
(
    -- Datos de Cuenta
    @correo            VARCHAR(30),
    @contrasenia       VARBINARY(256),
    @rol               VARCHAR(20),
    -- Datos de Cliente
    @identificacion    VARCHAR(12),
    @nombre            VARCHAR(20),
    @primerApellido    VARCHAR(20),
    @segundoApellido   VARCHAR(20) = NULL,
    @fechaNacimiento   DATE,
    @pais              VARCHAR(20),
    @provincia         VARCHAR(20),
    @canton            VARCHAR(20),
    @distrito          VARCHAR(20) = NULL,
    @telefono1         VARCHAR(8),
    @telefono2         VARCHAR(8) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRY
        BEGIN TRAN;
        -- Obtener rolID
        DECLARE @rolID INT;
        SELECT @rolID = rolID
        FROM Rol
        WHERE nombre = @rol;
        IF @rolID IS NULL
            THROW 50001, 'Rol no válido', 1;
        -- Insertar Cuenta
        INSERT INTO Cuenta (correo, contrasenia, rolID)
        VALUES (@correo, @contrasenia, @rolID);
        DECLARE @cuentaID INT = SCOPE_IDENTITY();
        -- Obtener paisID
        DECLARE @paisID INT;
        SELECT @paisID = paisID
        FROM Pais
        WHERE nombre = @pais;
        IF @paisID IS NULL
            THROW 50002, 'País no válido', 1;
        -- Obtener distritoID SOLO si aplica
        DECLARE @distritoID INT = NULL;
        IF EXISTS (SELECT 1 FROM Pais WHERE paisID = @paisID AND nombre <> 'Costa Rica')
        BEGIN
            SELECT @distritoID = D.distritoID
            FROM Distrito D
            INNER JOIN Canton C ON D.cantonID = C.cantonID
            INNER JOIN Provincia P ON P.provinciaID = C.provinciaID
            WHERE
                D.nombre = @distrito AND
                C.nombre = @canton AND
                P.nombre = @provincia;
            IF @distritoID IS NULL
                THROW 50003, 'Distrito / Cantón / Provincia no válidos', 1;
        END
        -- Insertar Cliente
        INSERT INTO Cliente
        (
            identificacion,
            nombre,
            primerApellido,
            segundoApellido,
            fechaNacimiento,
            paisID,
            distritoID,
            telefono1,
            telefono2
        )
        VALUES
        (
            @identificacion,
            @nombre,
            @primerApellido,
            @segundoApellido,
            @fechaNacimiento,
            @paisID,
            @distritoID,
            @telefono1,
            @telefono2
        );
        COMMIT;
        SELECT @cuentaID AS cuentaID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
        THROW;
    END CATCH
END;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[53] 4[8] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "P"
            Begin Extent = 
               Top = 67
               Left = 218
               Bottom = 180
               Right = 426
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PR"
            Begin Extent = 
               Top = 81
               Left = 764
               Bottom = 194
               Right = 972
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "C"
            Begin Extent = 
               Top = 232
               Left = 462
               Bottom = 345
               Right = 670
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "D"
            Begin Extent = 
               Top = 318
               Left = 101
               Bottom = 431
               Right = 309
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_ubicaciones'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_ubicaciones'
GO
USE [master]
GO
