USE master;
GO

CREATE LOGIN UsuarioVistas
WITH PASSWORD = 'Vistas#2026!',
     CHECK_POLICY = ON;

CREATE LOGIN AdminHotel
WITH PASSWORD = 'Admin#2026!',
     CHECK_POLICY = ON;
GO


USE SistemaGestionHotelera;
GO

CREATE USER UsuarioVistas FOR LOGIN UsuarioVistas;
CREATE USER AdminHotel   FOR LOGIN AdminHotel;
GO


USE [SistemaGestionHotelera]
GO


CREATE NONCLUSTERED INDEX IX_Reservacion_FechaIngreso
ON Reservacion(fechaIngreso);

CREATE NONCLUSTERED INDEX IX_Reservacion_FechaSalida
ON Reservacion(fechaSalida);

CREATE NONCLUSTERED INDEX IX_Reservacion_Activa_Fecha
ON Reservacion(activa, fechaIngreso DESC);

CREATE NONCLUSTERED INDEX IX_Habitacion_Cedula
ON Habitacion(cedulaJuridica);

CREATE NONCLUSTERED INDEX IX_Habitacion_Hotel_Numero
ON Habitacion(cedulaJuridica, numero);




/****** Object:  User [admin]    Script Date: 1/2/2026 19:57:52 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [proyBD]    Script Date: 1/2/2026 19:57:52 ******/
CREATE USER [proyBD] FOR LOGIN [proyBD] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  View [dbo].[vw_actividades]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crea la vista nuevamente
CREATE   VIEW [dbo].[vw_actividades]
AS
SELECT        
    dbo.Empresa.cuentaID, 
    dbo.EmpresaActividad.cedulaJuridica, 
    dbo.EmpresaActividad.activo, 
    dbo.EmpresaActividad.precio, 
    dbo.EmpresaActividad.titulo, 
    dbo.EmpresaActividad.descripcion, 
    dbo.Foto.titulo AS foto, 
    dbo.Foto.url, 
    dbo.TipoActividad.nombre, 
    dbo.EmpresaActividad.empresaActividadID, 
    dbo.Empresa.nombre AS nombreEmpresa, 
    dbo.EmpresaActividad.tipoActividadID, 
    dbo.Empresa.distritoID,
    dbo.Distrito.nombre AS nombreDistrito,
    dbo.Canton.nombre AS nombreCanton
FROM            
    dbo.Empresa 
    INNER JOIN dbo.EmpresaActividad 
        ON dbo.Empresa.cedulaJuridica = dbo.EmpresaActividad.cedulaJuridica 
    INNER JOIN dbo.Foto 
        ON dbo.EmpresaActividad.fotoID = dbo.Foto.fotoID 
    INNER JOIN dbo.TipoActividad 
        ON dbo.EmpresaActividad.tipoActividadID = dbo.TipoActividad.tipoActividadID
    INNER JOIN dbo.Distrito 
        ON dbo.Empresa.distritoID = dbo.Distrito.distritoID
    INNER JOIN dbo.Canton 
        ON dbo.Distrito.cantonID = dbo.Canton.cantonID
GO
/****** Object:  View [dbo].[vw_clientes]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [dbo].[vw_clientes]
AS
SELECT 
	C.identificacion, 
	C.nombre, 
	C.primerApellido,
	C.segundoApellido,
	C.fechaNacimiento,
	P.nombre AS pais,
	P.codigoTelefonico,
	D.nombre AS distrito,
	C.telefono1,
	C.telefono2,
	CT.correo
FROM Cliente C
INNER JOIN Pais P ON P.paisID = C.paisID
LEFT JOIN Distrito D ON C.distritoID = D.distritoID
INNER JOIN Cuenta CT ON CT.cuentaID = C.cuentaID
GO
/****** Object:  View [dbo].[vw_comodidades]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_comodidades]
AS
SELECT        nombre
FROM            dbo.Comodidad
GO
/****** Object:  View [dbo].[vw_cuentas]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_cuentas]
AS
SELECT C.cuentaID, C.correo, C.contrasenia, R.nombre AS rol FROM Cuenta C
INNER JOIN Rol R ON R.rolID = C.rolID;
GO
/****** Object:  View [dbo].[vw_empresas]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_empresas]
AS
SELECT        dbo.Provincia.nombre AS provincia, dbo.Canton.nombre AS canton, dbo.Distrito.nombre AS distrito, dbo.Empresa.cedulaJuridica, dbo.Empresa.nombre, dbo.Empresa.correo, dbo.Empresa.telefono, dbo.Empresa.nombreContacto, 
                         dbo.Empresa.referencias, dbo.Empresa.cuentaID, dbo.Empresa.descripcion
FROM            dbo.Empresa INNER JOIN
                         dbo.Provincia INNER JOIN
                         dbo.Distrito INNER JOIN
                         dbo.Canton ON dbo.Distrito.cantonID = dbo.Canton.cantonID ON dbo.Provincia.provinciaID = dbo.Canton.provinciaID ON dbo.Empresa.distritoID = dbo.Distrito.distritoID
GO
/****** Object:  View [dbo].[vw_habitacionesCompletas]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_habitacionesCompletas]
AS
SELECT        dbo.Comodidad.nombre, dbo.Habitacion.estado, dbo.Habitacion.habitacionID, dbo.Habitacion.numero, dbo.Habitacion.cedulaJuridica, dbo.Habitacion.precio, dbo.TipoHabitacion.nombre AS Expr1, 
                         dbo.TipoHabitacion.descripcion, dbo.Foto.url
FROM            dbo.FotoHabitacion INNER JOIN
                         dbo.Foto ON dbo.FotoHabitacion.fotoID = dbo.Foto.fotoID INNER JOIN
                         dbo.Habitacion ON dbo.FotoHabitacion.habitacionID = dbo.Habitacion.habitacionID INNER JOIN
                         dbo.HabitacionComodidad ON dbo.Habitacion.habitacionID = dbo.HabitacionComodidad.habitacionID INNER JOIN
                         dbo.Comodidad ON dbo.HabitacionComodidad.comodidadID = dbo.Comodidad.comodidadID INNER JOIN
                         dbo.TipoHabitacion ON dbo.Habitacion.tipoHabitacionID = dbo.TipoHabitacion.tipoHabitacionID
GO
/****** Object:  View [dbo].[vw_HabitacionesHotel]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_HabitacionesHotel]
AS
SELECT
    hb.habitacionID,
    hb.cedulaJuridica,

    th.tipoHabitacionID,
    th.nombre        AS nombreHabitacion,
    th.descripcion,
    hb.precio,

    tc.nombre        AS tipoCama,

    foto.url         AS fotoHabitacion,

    comodidades.comodidades

FROM Habitacion hb

JOIN TipoHabitacion th
    ON hb.tipoHabitacionID = th.tipoHabitacionID

JOIN TipoCama tc
    ON th.tipoCamaID = tc.tipoCamaID

-- ===== FOTO ALEATORIA (por habitación) =====
OUTER APPLY (
    SELECT TOP 1 f.url
    FROM FotoHabitacion fh
    JOIN Foto f ON fh.fotoID = f.fotoID
    WHERE fh.habitacionID = hb.habitacionID
    ORDER BY NEWID()
) foto

-- ===== COMODIDADES (por habitación, sin duplicados) =====
OUTER APPLY (
    SELECT STRING_AGG(x.nombre, ', ') AS comodidades
    FROM (
        SELECT DISTINCT c.nombre
        FROM HabitacionComodidad hc
        JOIN Comodidad c ON hc.comodidadID = c.comodidadID
        WHERE hc.habitacionID = hb.habitacionID
    ) x
) comodidades;
GO
/****** Object:  View [dbo].[vw_hospedajes]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_hospedajes]
AS
SELECT        dbo.Canton.nombre, dbo.Provincia.nombre AS provincia, dbo.TipoHospedaje.nombre AS tipo, dbo.Distrito.nombre AS distrito, dbo.Hospedaje.cedulaJuridica, dbo.Hospedaje.nombre AS nombreHospedaje, dbo.Hospedaje.correo, 
                         dbo.Hospedaje.webURL, dbo.Hospedaje.barrio, dbo.Hospedaje.referencias, dbo.Hospedaje.telefono1, dbo.Hospedaje.telefono2, dbo.Pais.nombre AS pais, dbo.Pais.codigoTelefonico
FROM            dbo.Canton INNER JOIN
                         dbo.Distrito ON dbo.Canton.cantonID = dbo.Distrito.cantonID INNER JOIN
                         dbo.Hospedaje ON dbo.Distrito.distritoID = dbo.Hospedaje.distritoID INNER JOIN
                         dbo.Provincia ON dbo.Canton.provinciaID = dbo.Provincia.provinciaID INNER JOIN
                         dbo.Pais ON dbo.Provincia.paisID = dbo.Pais.paisID INNER JOIN
                         dbo.TipoHospedaje ON dbo.Hospedaje.tipoHospedajeID = dbo.TipoHospedaje.tipoHospedajeID
GO
/****** Object:  View [dbo].[vw_HotelDetalle]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_HotelDetalle]
AS
SELECT
    -- ===== IDENTIFICADOR =====
    h.cedulaJuridica,

    -- ===== INFO PRINCIPAL =====
    h.nombre        AS nombreHotel,
    h.telefono1,

    -- ===== UBICACIÓN =====
    p.nombre        AS provincia,
    c.nombre        AS canton,

    -- ===== FOTO ALEATORIA =====
    foto.url        AS fotoHabitacion,

    -- ===== SERVICIOS DEL HOTEL =====
    servicios.serviciosHotel,

    -- ===== REDES SOCIALES =====
    redes.redesSociales

FROM Hospedaje h

-- Ubicación
JOIN Distrito d  ON h.distritoID = d.distritoID
JOIN Canton c    ON d.cantonID = c.cantonID
JOIN Provincia p ON c.provinciaID = p.provinciaID

-- ===== FOTO (1 al azar) =====
OUTER APPLY (
    SELECT TOP 1 f.url
    FROM Habitacion ha
    JOIN FotoHabitacion fh ON ha.habitacionID = fh.habitacionID
    JOIN Foto f ON fh.fotoID = f.fotoID
    WHERE ha.cedulaJuridica = h.cedulaJuridica
    ORDER BY NEWID()
) foto

-- ===== SERVICIOS =====
OUTER APPLY (
    SELECT STRING_AGG(s.nombre, ', ') AS serviciosHotel
    FROM HospedajeServicio hs
    JOIN Servicio s ON hs.servicioID = s.servicioID
    WHERE hs.cedulaJuridica = h.cedulaJuridica
      AND hs.activo = 1
) servicios

-- ===== REDES SOCIALES =====
OUTER APPLY (
    SELECT STRING_AGG(
               CONCAT(rs.nombre, ': ', hr.url),
               ' | '
           ) AS redesSociales
    FROM HospedajeRedSocial hr
    JOIN RedSocial rs ON hr.redSocialID = rs.redSocialID
    WHERE hr.cedulaJuridica = h.cedulaJuridica
) redes;
GO
/****** Object:  View [dbo].[vw_HotelesCard]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_HotelesCard]
AS
SELECT
    h.cedulaJuridica,
    h.nombre AS nombreHotel,

    p.nombre AS provincia,
    c.nombre AS canton,

    foto.url AS fotoHabitacion,

    servicios.servicios
FROM Hospedaje h

-- Ubicación
JOIN Distrito d ON h.distritoID = d.distritoID
JOIN Canton c   ON d.cantonID = c.cantonID
JOIN Provincia p ON c.provinciaID = p.provinciaID


OUTER APPLY (
    SELECT TOP 1 f.url
    FROM Habitacion ha
    JOIN FotoHabitacion fh ON ha.habitacionID = fh.habitacionID
    JOIN Foto f ON fh.fotoID = f.fotoID
    WHERE ha.cedulaJuridica = h.cedulaJuridica
    ORDER BY f.fotoID
) foto


OUTER APPLY (
    SELECT STRING_AGG(s.nombre, ', ') AS servicios
    FROM HospedajeServicio hs
    JOIN Servicio s ON hs.servicioID = s.servicioID
    WHERE hs.cedulaJuridica = h.cedulaJuridica
      AND hs.activo = 1
) servicios;
GO
/****** Object:  View [dbo].[vw_ReporteFacturacion]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ReporteFacturacion]
AS
SELECT 
    -- Información de la reserva
    r.numReservacion,
    r.fechaIngreso,
    r.fechaSalida,
    r.cantPersonas,
    r.vehiculo,
    r.activa,
    
    -- Información del cliente
    c.identificacion,
    c.nombre AS nombreCliente,
    c.primerApellido,
    c.segundoApellido,
    
    -- Información de la habitación
    h.habitacionID,
    h.numero AS numeroHabitacion,
    h.precio AS precioHabitacion,
    h.cedulaJuridica,
    
    -- Información del tipo de habitación
    th.tipoHabitacionID,
    th.nombre AS tipoHabitacion,
    th.descripcion AS descripcionTipoHabitacion,
    
    -- Información del hospedaje
    hosp.nombre AS nombreHospedaje,
    hosp.tipoHospedajeID,
    
    -- Información de ubicación
    d.nombre AS distrito,
    d.distritoID,
    
    -- Cálculos de facturación
    DATEDIFF(DAY, r.fechaIngreso, r.fechaSalida) AS diasEstancia,
    (DATEDIFF(DAY, r.fechaIngreso, r.fechaSalida) * h.precio) AS totalFacturado,
    
    -- Campos para agrupación temporal
    YEAR(r.fechaIngreso) AS anio,
    MONTH(r.fechaIngreso) AS mes,
    DAY(r.fechaIngreso) AS dia,
    CONVERT(DATE, r.fechaIngreso) AS fecha,
    
    -- Nombre del mes para reportes
    CASE MONTH(r.fechaIngreso)
        WHEN 1 THEN 'Enero'
        WHEN 2 THEN 'Febrero'
        WHEN 3 THEN 'Marzo'
        WHEN 4 THEN 'Abril'
        WHEN 5 THEN 'Mayo'
        WHEN 6 THEN 'Junio'
        WHEN 7 THEN 'Julio'
        WHEN 8 THEN 'Agosto'
        WHEN 9 THEN 'Septiembre'
        WHEN 10 THEN 'Octubre'
        WHEN 11 THEN 'Noviembre'
        WHEN 12 THEN 'Diciembre'
    END AS nombreMes

FROM Reservacion r
INNER JOIN Cliente c ON r.identificacion = c.identificacion
INNER JOIN Habitacion h ON r.habitacionID = h.habitacionID
INNER JOIN TipoHabitacion th ON h.tipoHabitacionID = th.tipoHabitacionID
INNER JOIN Hospedaje hosp ON h.cedulaJuridica = hosp.cedulaJuridica
INNER JOIN Distrito d ON hosp.distritoID = d.distritoID
WHERE r.activa = 0; -- Solo reservas finalizadas (checkout realizado)
GO
/****** Object:  View [dbo].[vw_ReporteHotelesMayorDemanda]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ReporteHotelesMayorDemanda]
AS
SELECT 
    -- Información del hospedaje
    hosp.cedulaJuridica,
    hosp.nombre AS nombreHospedaje,
    hosp.correo AS correoHospedaje,
    hosp.webURL,
    hosp.telefono1,
    hosp.telefono2,
    thosp.nombre AS tipoHospedaje,
    
    -- Información de ubicación completa
    hosp.distritoID,
    d.nombre AS distrito,
    can.cantonID,
    can.nombre AS canton,
    prov.provinciaID,
    prov.nombre AS provincia,
    prov.paisID,
    p.nombre AS pais,
    hosp.barrio,
    hosp.referencias,
    
    -- Ubicación concatenada para reportes
    CONCAT(d.nombre, ', ', can.nombre, ', ', prov.nombre) AS ubicacionCompleta,
    
    -- Información de la reserva
    r.numReservacion,
    r.fechaIngreso,
    r.fechaSalida,
    r.cantPersonas,
    r.vehiculo,
    r.activa,
    
    -- Información de la habitación
    h.habitacionID,
    h.numero AS numeroHabitacion,
    h.precio AS precioHabitacion,
    th.nombre AS tipoHabitacion,
    
    -- Información del cliente
    r.identificacion,
    c.nombre AS nombreCliente,
    CONCAT(c.nombre, ' ', c.primerApellido, ' ', ISNULL(c.segundoApellido, '')) AS nombreCompletoCliente,
    pc.nombre AS paisCliente,
    
    -- Cálculos de la reserva
    DATEDIFF(DAY, r.fechaIngreso, r.fechaSalida) AS diasEstancia,
    (DATEDIFF(DAY, r.fechaIngreso, r.fechaSalida) * h.precio) AS totalFacturado,
    
    -- Campos temporales para agrupación
    YEAR(r.fechaIngreso) AS anioIngreso,
    MONTH(r.fechaIngreso) AS mesIngreso,
    DAY(r.fechaIngreso) AS diaIngreso,
    CONVERT(DATE, r.fechaIngreso) AS fechaIngresoDate,
    CONVERT(DATE, r.fechaSalida) AS fechaSalidaDate,
    
    -- Día de la semana
    DATENAME(WEEKDAY, r.fechaIngreso) AS diaSemanaIngreso,
    DATEPART(WEEKDAY, r.fechaIngreso) AS numeroDiaSemana,
    
    -- Nombre del mes
    CASE MONTH(r.fechaIngreso)
        WHEN 1 THEN 'Enero'
        WHEN 2 THEN 'Febrero'
        WHEN 3 THEN 'Marzo'
        WHEN 4 THEN 'Abril'
        WHEN 5 THEN 'Mayo'
        WHEN 6 THEN 'Junio'
        WHEN 7 THEN 'Julio'
        WHEN 8 THEN 'Agosto'
        WHEN 9 THEN 'Septiembre'
        WHEN 10 THEN 'Octubre'
        WHEN 11 THEN 'Noviembre'
        WHEN 12 THEN 'Diciembre'
    END AS nombreMes,
    
    -- Temporada
    CASE 
        WHEN MONTH(r.fechaIngreso) IN (12, 1, 2, 7) THEN 'Alta'
        WHEN MONTH(r.fechaIngreso) IN (3, 4, 11) THEN 'Media'
        ELSE 'Baja'
    END AS temporada,
    
    -- Tipo de reserva (fin de semana vs día de semana)
    CASE 
        WHEN DATEPART(WEEKDAY, r.fechaIngreso) IN (1, 7) THEN 'Fin de semana'
        ELSE 'Entre semana'
    END AS tipoReserva

FROM Reservacion r
INNER JOIN Cliente c ON r.identificacion = c.identificacion
INNER JOIN Pais pc ON c.paisID = pc.paisID
INNER JOIN Habitacion h ON r.habitacionID = h.habitacionID
INNER JOIN TipoHabitacion th ON h.tipoHabitacionID = th.tipoHabitacionID
INNER JOIN Hospedaje hosp ON h.cedulaJuridica = hosp.cedulaJuridica
INNER JOIN TipoHospedaje thosp ON hosp.tipoHospedajeID = thosp.tipoHospedajeID
INNER JOIN Distrito d ON hosp.distritoID = d.distritoID
INNER JOIN Canton can ON d.cantonID = can.cantonID
INNER JOIN Provincia prov ON can.provinciaID = prov.provinciaID
INNER JOIN Pais p ON prov.paisID = p.paisID;

GO
/****** Object:  View [dbo].[vw_ReporteRangoEdades]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ReporteRangoEdades]
AS
SELECT 
    -- Información del cliente
    c.identificacion,
    c.nombre AS nombreCliente,
    c.primerApellido,
    c.segundoApellido,
    CONCAT(c.nombre, ' ', c.primerApellido, ' ', ISNULL(c.segundoApellido, '')) AS nombreCompleto,
    c.fechaNacimiento,
    
    -- Cálculo de edad
    DATEDIFF(YEAR, c.fechaNacimiento, GETDATE()) - 
        CASE 
            WHEN MONTH(c.fechaNacimiento) > MONTH(GETDATE()) THEN 1
            WHEN MONTH(c.fechaNacimiento) = MONTH(GETDATE()) 
                AND DAY(c.fechaNacimiento) > DAY(GETDATE()) THEN 1
            ELSE 0
        END AS edadActual,
    
    -- Rangos de edad
    CASE 
        WHEN DATEDIFF(YEAR, c.fechaNacimiento, GETDATE()) - 
            CASE 
                WHEN MONTH(c.fechaNacimiento) > MONTH(GETDATE()) THEN 1
                WHEN MONTH(c.fechaNacimiento) = MONTH(GETDATE()) 
                    AND DAY(c.fechaNacimiento) > DAY(GETDATE()) THEN 1
                ELSE 0
            END < 18 THEN 'Menor de 18'
        WHEN DATEDIFF(YEAR, c.fechaNacimiento, GETDATE()) - 
            CASE 
                WHEN MONTH(c.fechaNacimiento) > MONTH(GETDATE()) THEN 1
                WHEN MONTH(c.fechaNacimiento) = MONTH(GETDATE()) 
                    AND DAY(c.fechaNacimiento) > DAY(GETDATE()) THEN 1
                ELSE 0
            END BETWEEN 18 AND 25 THEN '18-25 años'
        WHEN DATEDIFF(YEAR, c.fechaNacimiento, GETDATE()) - 
            CASE 
                WHEN MONTH(c.fechaNacimiento) > MONTH(GETDATE()) THEN 1
                WHEN MONTH(c.fechaNacimiento) = MONTH(GETDATE()) 
                    AND DAY(c.fechaNacimiento) > DAY(GETDATE()) THEN 1
                ELSE 0
            END BETWEEN 26 AND 35 THEN '26-35 años'
        WHEN DATEDIFF(YEAR, c.fechaNacimiento, GETDATE()) - 
            CASE 
                WHEN MONTH(c.fechaNacimiento) > MONTH(GETDATE()) THEN 1
                WHEN MONTH(c.fechaNacimiento) = MONTH(GETDATE()) 
                    AND DAY(c.fechaNacimiento) > DAY(GETDATE()) THEN 1
                ELSE 0
            END BETWEEN 36 AND 45 THEN '36-45 años'
        WHEN DATEDIFF(YEAR, c.fechaNacimiento, GETDATE()) - 
            CASE 
                WHEN MONTH(c.fechaNacimiento) > MONTH(GETDATE()) THEN 1
                WHEN MONTH(c.fechaNacimiento) = MONTH(GETDATE()) 
                    AND DAY(c.fechaNacimiento) > DAY(GETDATE()) THEN 1
                ELSE 0
            END BETWEEN 46 AND 55 THEN '46-55 años'
        WHEN DATEDIFF(YEAR, c.fechaNacimiento, GETDATE()) - 
            CASE 
                WHEN MONTH(c.fechaNacimiento) > MONTH(GETDATE()) THEN 1
                WHEN MONTH(c.fechaNacimiento) = MONTH(GETDATE()) 
                    AND DAY(c.fechaNacimiento) > DAY(GETDATE()) THEN 1
                ELSE 0
            END BETWEEN 56 AND 65 THEN '56-65 años'
        ELSE 'Mayor de 65'
    END AS rangoEdad,
    
    -- Generación
    CASE 
        WHEN YEAR(c.fechaNacimiento) BETWEEN 1997 AND 2012 THEN 'Generación Z'
        WHEN YEAR(c.fechaNacimiento) BETWEEN 1981 AND 1996 THEN 'Millennials'
        WHEN YEAR(c.fechaNacimiento) BETWEEN 1965 AND 1980 THEN 'Generación X'
        WHEN YEAR(c.fechaNacimiento) BETWEEN 1946 AND 1964 THEN 'Baby Boomers'
        ELSE 'Otra generación'
    END AS generacion,
    
    -- Información de país
    p.nombre AS pais,
    c.paisID,
    
    -- Información de contacto
    c.telefono1,
    c.telefono2,
    
    -- Información de la reserva
    r.numReservacion,
    r.fechaIngreso,
    r.fechaSalida,
    r.cantPersonas,
    r.vehiculo,
    r.activa,
    
    -- Información del hospedaje
    h.cedulaJuridica,
    hosp.nombre AS nombreHospedaje,
    
    -- Información de la habitación
    h.habitacionID,
    h.numero AS numeroHabitacion,
    th.nombre AS tipoHabitacion,
    
    -- Cálculos de la reserva
    DATEDIFF(DAY, r.fechaIngreso, r.fechaSalida) AS diasEstancia,
    (DATEDIFF(DAY, r.fechaIngreso, r.fechaSalida) * h.precio) AS totalFacturado,
    
    -- Campos temporales
    YEAR(r.fechaIngreso) AS anioReserva,
    MONTH(r.fechaIngreso) AS mesReserva,
    CONVERT(DATE, r.fechaIngreso) AS fechaReserva

FROM Cliente c
INNER JOIN Pais p ON c.paisID = p.paisID
INNER JOIN Reservacion r ON c.identificacion = r.identificacion
INNER JOIN Habitacion h ON r.habitacionID = h.habitacionID
INNER JOIN TipoHabitacion th ON h.tipoHabitacionID = th.tipoHabitacionID
INNER JOIN Hospedaje hosp ON h.cedulaJuridica = hosp.cedulaJuridica;
GO
/****** Object:  View [dbo].[vw_ReporteReservasPorTipoHabitacion]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ReporteReservasPorTipoHabitacion]
AS
SELECT 
    -- Información del tipo de habitación
    th.tipoHabitacionID,
    th.nombre AS tipoHabitacion,
    th.descripcion AS descripcionTipoHabitacion,
    tc.nombre AS tipoCama,
    
    -- Información de la habitación
    h.habitacionID,
    h.numero AS numeroHabitacion,
    h.precio AS precioHabitacion,
    
    -- Información del hospedaje
    h.cedulaJuridica,
    hosp.nombre AS nombreHospedaje,
    hosp.tipoHospedajeID,
    
    -- Información de la reserva
    r.numReservacion,
    r.fechaIngreso,
    r.fechaSalida,
    r.cantPersonas,
    r.vehiculo,
    r.activa,
    
    -- Información del cliente
    r.identificacion,
    c.nombre AS nombreCliente,
    c.primerApellido,
    c.segundoApellido,
    CONCAT(c.nombre, ' ', c.primerApellido, ' ', ISNULL(c.segundoApellido, '')) AS nombreCompletoCliente,
    
    -- Información de ubicación del hospedaje
    d.nombre AS distrito,
    can.nombre AS canton,
    prov.nombre AS provincia,
    
    -- Cálculos
    DATEDIFF(DAY, r.fechaIngreso, r.fechaSalida) AS diasEstancia,
    (DATEDIFF(DAY, r.fechaIngreso, r.fechaSalida) * h.precio) AS totalFacturado,
    
    -- Campos temporales para filtrado
    YEAR(r.fechaIngreso) AS anioIngreso,
    MONTH(r.fechaIngreso) AS mesIngreso,
    CONVERT(DATE, r.fechaIngreso) AS fechaIngresoDate,
    CONVERT(DATE, r.fechaSalida) AS fechaSalidaDate,
    
    -- Indicador de temporada (ejemplo: alta/baja)
    CASE 
        WHEN MONTH(r.fechaIngreso) IN (12, 1, 2, 7) THEN 'Alta'
        ELSE 'Baja'
    END AS temporada

FROM Reservacion r
INNER JOIN Cliente c ON r.identificacion = c.identificacion
INNER JOIN Habitacion h ON r.habitacionID = h.habitacionID
INNER JOIN TipoHabitacion th ON h.tipoHabitacionID = th.tipoHabitacionID
INNER JOIN TipoCama tc ON th.tipoCamaID = tc.tipoCamaID
INNER JOIN Hospedaje hosp ON h.cedulaJuridica = hosp.cedulaJuridica
INNER JOIN Distrito d ON hosp.distritoID = d.distritoID
INNER JOIN Canton can ON d.cantonID = can.cantonID
INNER JOIN Provincia prov ON can.provinciaID = prov.provinciaID
WHERE r.activa = 0; -- Solo reservas finalizadas
GO
/****** Object:  View [dbo].[vw_reservacionesCompletas]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_reservacionesCompletas]
AS
SELECT        dbo.Habitacion.cedulaJuridica, dbo.Hospedaje.nombre, dbo.Reservacion.identificacion, dbo.Reservacion.numReservacion, dbo.Reservacion.fechaIngreso, dbo.Reservacion.fechaSalida, dbo.Reservacion.cantPersonas, 
                         dbo.Reservacion.vehiculo, dbo.Reservacion.activa, dbo.Habitacion.numero, dbo.Habitacion.precio
FROM            dbo.Habitacion INNER JOIN
                         dbo.Hospedaje ON dbo.Habitacion.cedulaJuridica = dbo.Hospedaje.cedulaJuridica INNER JOIN
                         dbo.Reservacion ON dbo.Habitacion.habitacionID = dbo.Reservacion.habitacionID
GO
/****** Object:  View [dbo].[vw_reservasGenerales]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_reservasGenerales]
AS
SELECT        dbo.Distrito.nombre AS distrito, dbo.Canton.nombre AS canton, dbo.Provincia.nombre AS provincia, dbo.Hospedaje.nombre AS hospedaje, dbo.Reservacion.fechaIngreso, dbo.Reservacion.fechaSalida
FROM            dbo.Canton INNER JOIN
                         dbo.Distrito ON dbo.Canton.cantonID = dbo.Distrito.cantonID INNER JOIN
                         dbo.Hospedaje ON dbo.Distrito.distritoID = dbo.Hospedaje.distritoID INNER JOIN
                         dbo.Provincia ON dbo.Canton.provinciaID = dbo.Provincia.provinciaID INNER JOIN
                         dbo.Habitacion ON dbo.Hospedaje.cedulaJuridica = dbo.Habitacion.cedulaJuridica INNER JOIN
                         dbo.Reservacion ON dbo.Habitacion.habitacionID = dbo.Reservacion.habitacionID
GO
/****** Object:  View [dbo].[vw_servicios]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_servicios]
AS
SELECT DISTINCT nombre FROM Servicio
GO
/****** Object:  View [dbo].[vw_tipoActividad]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_tipoActividad]
AS
SELECT nombre FROM TipoActividad
GO
/****** Object:  View [dbo].[vw_tipoHabitacion]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_tipoHabitacion]
AS
SELECT        dbo.TipoCama.nombre AS cama, dbo.TipoHabitacion.nombre, dbo.TipoHabitacion.descripcion
FROM            dbo.TipoCama INNER JOIN
                         dbo.TipoHabitacion ON dbo.TipoCama.tipoCamaID = dbo.TipoHabitacion.tipoCamaID
GO
/****** Object:  View [dbo].[vw_tipoHospedajes]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_tipoHospedajes]
AS
SELECT nombre FROM TipoHospedaje
GO
/****** Object:  View [dbo].[vw_ubicaciones]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_ubicaciones]
AS
SELECT        P.nombre AS pais, P.codigoTelefonico AS codTel, PR.nombre AS provincia, C.nombre AS canton, D.nombre AS distrito
FROM            dbo.Pais AS P LEFT OUTER JOIN
                         dbo.Provincia AS PR ON P.paisID = PR.paisID LEFT OUTER JOIN
                         dbo.Canton AS C ON C.provinciaID = PR.provinciaID LEFT OUTER JOIN
                         dbo.Distrito AS D ON D.cantonID = C.cantonID
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEmpresaActividad]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ActualizarEmpresaActividad]
	@empresaActividadID INT,
	@tipoActividadNombre VARCHAR(50),
	@titulo VARCHAR(50),
	@descripcion VARCHAR(MAX),
	@precio MONEY,
	@fotoTitulo VARCHAR(50) = NULL,
	@fotoUrl VARCHAR(150) = NULL
AS
BEGIN
	SET NOCOUNT ON;
	
	-- Variables para manejo de transacción y valores
	DECLARE @fotoID INT;
	DECLARE @tipoActividadID INT;
	DECLARE @cedulaJuridica VARCHAR(10);
	DECLARE @errorMessage NVARCHAR(4000);
	DECLARE @errorSeverity INT;
	DECLARE @errorState INT;
	
	BEGIN TRY
		BEGIN TRANSACTION;
		
		-- Verificar que la actividad existe y obtener datos actuales
		SELECT @cedulaJuridica = cedulaJuridica, @fotoID = fotoID
		FROM EmpresaActividad
		WHERE empresaActividadID = @empresaActividadID AND activo = 1;
		
		IF @cedulaJuridica IS NULL
		BEGIN
			RAISERROR('La actividad con ID %d no existe o está inactiva.', 16, 1, @empresaActividadID);
			RETURN;
		END
		
		-- Encontrar el ID del tipo de Actividad por el nombre
		SELECT @tipoActividadID = tipoActividadID
		FROM TipoActividad
		WHERE nombre = @tipoActividadNombre;
		
		IF @tipoActividadID IS NULL
		BEGIN
			RAISERROR('El tipo de actividad "%s" no existe en el sistema.', 16, 1, @tipoActividadNombre);
			RETURN;
		END
		
		-- Validar precio
		IF @precio <= 0
		BEGIN
			RAISERROR('El precio debe ser mayor a cero.', 16, 1);
			RETURN;
		END
		
		-- Si se proporciona nueva foto, actualizar o insertar
		IF @fotoUrl IS NOT NULL AND @fotoTitulo IS NOT NULL
		BEGIN
			IF @fotoID IS NOT NULL
			BEGIN
				-- Actualizar foto existente
				UPDATE [dbo].[Foto]
				SET titulo = @fotoTitulo,
					url = @fotoUrl
				WHERE fotoID = @fotoID;
			END
			ELSE
			BEGIN
				-- Insertar nueva foto
				INSERT INTO [dbo].[Foto] (titulo, url)
				VALUES (@fotoTitulo, @fotoUrl);
				
				SET @fotoID = SCOPE_IDENTITY();
			END
		END
		
		-- Actualizar la actividad en EmpresaActividad
		UPDATE [dbo].[EmpresaActividad]
		SET tipoActividadID = @tipoActividadID,
			precio = @precio,
			titulo = @titulo,
			descripcion = @descripcion,
			fotoID = ISNULL(@fotoID, fotoID) -- Solo actualiza si hay nueva foto
		WHERE empresaActividadID = @empresaActividadID;
		
		COMMIT TRANSACTION;
		
		-- Retornar información de éxito
		SELECT 
			@empresaActividadID AS empresaActividadID,
			@cedulaJuridica AS cedulaJuridica,
			@tipoActividadID AS tipoActividadID,
			@fotoID AS fotoID,
			'Actividad actualizada exitosamente' AS mensaje;
			
	END TRY
	BEGIN CATCH
		-- Rollback en caso de error
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
		
		-- Capturar información del error
		SELECT @errorMessage = ERROR_MESSAGE(),
			   @errorSeverity = ERROR_SEVERITY(),
			   @errorState = ERROR_STATE();
		
		-- Re-lanzar el error
		RAISERROR(@errorMessage, @errorSeverity, @errorState);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarHabitacion]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ActualizarHabitacion]
    @habitacionID INT,
    @tipoHabitacionNombre VARCHAR(10) = NULL,
    @numero INT = NULL,
    @precio DECIMAL(10, 2) = NULL,
    @fotosJson NVARCHAR(MAX) = NULL,  -- JSON array con objetos {titulo, url} - opcional
    @comodidadesJson NVARCHAR(MAX) = NULL  -- JSON array con nombres de comodidades - opcional
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Variables para manejo de transacción y valores
    DECLARE @tipoHabitacionID TINYINT;
    DECLARE @cedulaJuridica VARCHAR(10);
    DECLARE @errorMessage NVARCHAR(4000);
    DECLARE @errorSeverity INT;
    DECLARE @errorState INT;
    
    -- Tabla temporal para fotos
    DECLARE @FotosTemp TABLE (
        titulo VARCHAR(50),
        url VARCHAR(150)
    );
    
    -- Tabla temporal para comodidades
    DECLARE @ComodidadesTemp TABLE (
        nombre VARCHAR(50)
    );
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- 1. Verificar que la habitación existe y está activa
        IF NOT EXISTS (SELECT 1 FROM Habitacion WHERE habitacionID = @habitacionID AND estado = 1)
        BEGIN
            RAISERROR('La habitación con ID %d no existe o está inactiva.', 16, 1, @habitacionID);
            RETURN;
        END
        
        -- Obtener la cédula jurídica de la habitación
        SELECT @cedulaJuridica = cedulaJuridica
        FROM Habitacion
        WHERE habitacionID = @habitacionID;
        
        -- 2. Si se proporciona un nuevo tipo de habitación, validar y obtener su ID
        IF @tipoHabitacionNombre IS NOT NULL
        BEGIN
            SELECT @tipoHabitacionID = tipoHabitacionID
            FROM TipoHabitacion
            WHERE nombre = @tipoHabitacionNombre;
            
            IF @tipoHabitacionID IS NULL
            BEGIN
                RAISERROR('El tipo de habitación "%s" no existe en el sistema.', 16, 1, @tipoHabitacionNombre);
                RETURN;
            END
        END
        
        -- 3. Validar precio si se proporciona
        IF @precio IS NOT NULL AND @precio <= 0
        BEGIN
            RAISERROR('El precio debe ser mayor a cero.', 16, 1);
            RETURN;
        END
        
        -- 4. Validar número de habitación si se proporciona
        IF @numero IS NOT NULL
        BEGIN
            IF EXISTS (
                SELECT 1 
                FROM Habitacion 
                WHERE cedulaJuridica = @cedulaJuridica 
                AND numero = @numero 
                AND habitacionID != @habitacionID
            )
            BEGIN
                RAISERROR('Ya existe otra habitación con el número %d para este hospedaje.', 16, 1, @numero);
                RETURN;
            END
        END
        
        -- 5. Actualizar datos básicos de la habitación
        UPDATE [dbo].[Habitacion]
        SET 
            tipoHabitacionID = ISNULL(@tipoHabitacionID, tipoHabitacionID),
            numero = ISNULL(@numero, numero),
            precio = ISNULL(@precio, precio)
        WHERE habitacionID = @habitacionID;
        
        -- 6. Si se proporcionan nuevas fotos, reemplazar las existentes
        IF @fotosJson IS NOT NULL
        BEGIN
            -- Parsear JSON de fotos
            INSERT INTO @FotosTemp (titulo, url)
            SELECT 
                JSON_VALUE(value, '$.titulo') AS titulo,
                JSON_VALUE(value, '$.url') AS url
            FROM OPENJSON(@fotosJson);
            
            -- Validar que al menos hay una foto
            IF NOT EXISTS (SELECT 1 FROM @FotosTemp)
            BEGIN
                RAISERROR('Debe proporcionar al menos una foto para la habitación.', 16, 1);
                RETURN;
            END
            
            -- Eliminar fotos antiguas de la relación (las fotos en la tabla Foto se mantienen por integridad referencial)
            DELETE FROM [dbo].[FotoHabitacion]
            WHERE habitacionID = @habitacionID;
            
            -- Insertar nuevas fotos
            DECLARE @fotoTitulo VARCHAR(50);
            DECLARE @fotoUrl VARCHAR(150);
            DECLARE @fotoID INT;
            
            DECLARE foto_cursor CURSOR FOR
            SELECT titulo, url FROM @FotosTemp;
            
            OPEN foto_cursor;
            FETCH NEXT FROM foto_cursor INTO @fotoTitulo, @fotoUrl;
            
            WHILE @@FETCH_STATUS = 0
            BEGIN
                -- Insertar foto en tabla Foto
                INSERT INTO [dbo].[Foto] (titulo, url)
                VALUES (@fotoTitulo, @fotoUrl);
                
                SET @fotoID = SCOPE_IDENTITY();
                
                -- Relacionar foto con habitación
                INSERT INTO [dbo].[FotoHabitacion] (fotoID, habitacionID)
                VALUES (@fotoID, @habitacionID);
                
                FETCH NEXT FROM foto_cursor INTO @fotoTitulo, @fotoUrl;
            END
            
            CLOSE foto_cursor;
            DEALLOCATE foto_cursor;
        END
        
        -- 7. Si se proporcionan nuevas comodidades, reemplazar las existentes
        IF @comodidadesJson IS NOT NULL
        BEGIN
            -- Parsear JSON de comodidades
            INSERT INTO @ComodidadesTemp (nombre)
            SELECT value
            FROM OPENJSON(@comodidadesJson);
            
            -- Validar que al menos hay una comodidad
            IF NOT EXISTS (SELECT 1 FROM @ComodidadesTemp)
            BEGIN
                RAISERROR('Debe proporcionar al menos una comodidad para la habitación.', 16, 1);
                RETURN;
            END
            
            -- Validar que todas las comodidades existen
            IF EXISTS (
                SELECT 1 
                FROM @ComodidadesTemp ct
                WHERE NOT EXISTS (
                    SELECT 1 FROM Comodidad c WHERE c.nombre = ct.nombre
                )
            )
            BEGIN
                RAISERROR('Una o más comodidades proporcionadas no existen en el sistema.', 16, 1);
                RETURN;
            END
            
            -- Eliminar comodidades antiguas
            DELETE FROM [dbo].[HabitacionComodidad]
            WHERE habitacionID = @habitacionID;
            
            -- Insertar nuevas comodidades
            INSERT INTO [dbo].[HabitacionComodidad] (habitacionID, comodidadID)
            SELECT 
                @habitacionID,
                c.comodidadID
            FROM @ComodidadesTemp ct
            INNER JOIN Comodidad c ON c.nombre = ct.nombre;
        END
        
        COMMIT TRANSACTION;
        
        -- 8. Retornar información de éxito
        SELECT 
            @habitacionID AS habitacionID,
            @cedulaJuridica AS cedulaJuridica,
            ISNULL(@tipoHabitacionID, (SELECT tipoHabitacionID FROM Habitacion WHERE habitacionID = @habitacionID)) AS tipoHabitacionID,
            ISNULL(@numero, (SELECT numero FROM Habitacion WHERE habitacionID = @habitacionID)) AS numero,
            ISNULL(@precio, (SELECT precio FROM Habitacion WHERE habitacionID = @habitacionID)) AS precio,
            (SELECT COUNT(*) FROM @FotosTemp) AS fotosActualizadas,
            (SELECT COUNT(*) FROM @ComodidadesTemp) AS comodidadesActualizadas,
            'Habitación actualizada exitosamente' AS mensaje;
            
    END TRY
    BEGIN CATCH
        -- Rollback en caso de error
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        -- Capturar información del error
        SELECT @errorMessage = ERROR_MESSAGE(),
               @errorSeverity = ERROR_SEVERITY(),
               @errorState = ERROR_STATE();
               
        -- Re-lanzar el error
        RAISERROR(@errorMessage, @errorSeverity, @errorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearReserva]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CrearReserva]
    @identificacion   VARCHAR(12),
    @habitacionID     INT,
    @fechaInicio      DATETIME,
    @fechaSalida      DATETIME,
    @cantPersonas     INT,
    @vehiculo         BIT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        INSERT INTO Reservacion (
            identificacion,
            habitacionID,
            fechaIngreso,
            fechaSalida,
            cantPersonas,
            vehiculo,
            activa
        )
        VALUES (
            @identificacion,
            @habitacionID,
            @fechaInicio,
            @fechaSalida,
            @cantPersonas,
            @vehiculo,
            1 -- activa = false
        );

        DECLARE @numReservacion INT = SCOPE_IDENTITY();

        COMMIT TRAN;

        SELECT @numReservacion AS numReservacion;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarEmpresaActividad]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_InsertarEmpresaActividad]
	@cedulaJuridica VARCHAR(10),
	@tipoActividadNombre VARCHAR(50),
	@titulo VARCHAR(50),
	@descripcion VARCHAR(MAX),
	@precio MONEY,
	@fotoTitulo VARCHAR(50),
	@fotoUrl VARCHAR(150)
AS
BEGIN
	SET NOCOUNT ON;
	-- Variables para manejo de transacción y valores
	DECLARE @fotoID INT;
	DECLARE @tipoActividadID INT;
	DECLARE @errorMessage NVARCHAR(4000);
	DECLARE @errorSeverity INT;
	DECLARE @errorState INT;
	BEGIN TRY
		BEGIN TRANSACTION;
		-- Verificar que si existe la empresa
		IF NOT EXISTS (SELECT 1 FROM Empresa WHERE cedulaJuridica = @cedulaJuridica)
		BEGIN
			RAISERROR('La cédula jurídica %s no existe en el sistema.', 16, 1, @cedulaJuridica);
			RETURN;
		END
		-- Encontrar el ID del tipo de Actividad por el nombre
		SELECT @tipoActividadID = tipoActividadID
		FROM TipoActividad
		WHERE nombre = @tipoActividadNombre;
		IF @tipoActividadID IS NULL
		BEGIN
			RAISERROR('El tipo de actividad "%s" no existe en el sistema.', 16, 1, @tipoActividadNombre);
			RETURN;
		END
		-- Validar precio
		IF @precio <= 0
		BEGIN
			RAISERROR('El precio debe ser mayor a cero.', 16, 1);
			RETURN;
		END
		-- Insertar la foto en la tabla Foto
		INSERT INTO [dbo].[Foto] (titulo, url)
		VALUES (@fotoTitulo, @fotoUrl);
		-- Obtener el ID de la foto recién insertada
		SET @fotoID = SCOPE_IDENTITY();
		-- Insertar la actividad en EmpresaActividad
		INSERT INTO [dbo].[EmpresaActividad] (
			cedulaJuridica,
			tipoActividadID,
			activo,
			fotoID,
			precio,
			titulo,
			descripcion
		)
		VALUES (
			@cedulaJuridica,
			@tipoActividadID,
			1, -- Por defecto activo
			@fotoID,
			@precio,
			@titulo,
			@descripcion
		);
		COMMIT TRANSACTION;

		-- Retornar información de éxito
		SELECT 
			@cedulaJuridica AS cedulaJuridica,
			@tipoActividadID AS tipoActividadID,
			@fotoID AS fotoID,
			'Actividad insertada exitosamente' AS mensaje;
	END TRY
	BEGIN CATCH
		-- Rollback en caso de error
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
		-- Capturar información del error
		SELECT @errorMessage = ERROR_MESSAGE(),
			   @errorSeverity = ERROR_SEVERITY(),
			   @errorState = ERROR_STATE();
		-- Re-lanzar el error
		RAISERROR(@errorMessage, @errorSeverity, @errorState);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarHabitacion]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertarHabitacion]
    @cedulaJuridica VARCHAR(10),
    @tipoHabitacionNombre VARCHAR(10),
    @numero INT,
    @precio DECIMAL(10, 2),
    @fotosJson NVARCHAR(MAX),  -- JSON array con objetos {titulo, url}
    @comodidadesJson NVARCHAR(MAX)  -- JSON array con nombres de comodidades
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Variables para manejo de transacción y valores
    DECLARE @habitacionID INT;
    DECLARE @tipoHabitacionID TINYINT;
    DECLARE @errorMessage NVARCHAR(4000);
    DECLARE @errorSeverity INT;
    DECLARE @errorState INT;
    
    -- Tabla temporal para fotos
    DECLARE @FotosTemp TABLE (
        titulo VARCHAR(50),
        url VARCHAR(150)
    );
    
    -- Tabla temporal para comodidades
    DECLARE @ComodidadesTemp TABLE (
        nombre VARCHAR(50)
    );
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- 1. Verificar que existe el hospedaje (empresa/hotel)
        IF NOT EXISTS (SELECT 1 FROM Hospedaje WHERE cedulaJuridica = @cedulaJuridica)
        BEGIN
            RAISERROR('La cédula jurídica %s no existe en el sistema.', 16, 1, @cedulaJuridica);
            RETURN;
        END
        
        -- 2. Encontrar el ID del tipo de habitación por el nombre
        SELECT @tipoHabitacionID = tipoHabitacionID
        FROM TipoHabitacion
        WHERE nombre = @tipoHabitacionNombre;
        
        IF @tipoHabitacionID IS NULL
        BEGIN
            RAISERROR('El tipo de habitación "%s" no existe en el sistema.', 16, 1, @tipoHabitacionNombre);
            RETURN;
        END
        
        -- 3. Validar precio
        IF @precio <= 0
        BEGIN
            RAISERROR('El precio debe ser mayor a cero.', 16, 1);
            RETURN;
        END
        
        -- 4. Validar que el número de habitación no existe para este hospedaje
        IF EXISTS (SELECT 1 FROM Habitacion WHERE cedulaJuridica = @cedulaJuridica AND numero = @numero)
        BEGIN
            RAISERROR('Ya existe una habitación con el número %d para este hospedaje.', 16, 1, @numero);
            RETURN;
        END
        
        -- 5. Parsear JSON de fotos a tabla temporal
        INSERT INTO @FotosTemp (titulo, url)
        SELECT 
            JSON_VALUE(value, '$.titulo') AS titulo,
            JSON_VALUE(value, '$.url') AS url
        FROM OPENJSON(@fotosJson);
        
        -- Validar que al menos hay una foto
        IF NOT EXISTS (SELECT 1 FROM @FotosTemp)
        BEGIN
            RAISERROR('Debe proporcionar al menos una foto para la habitación.', 16, 1);
            RETURN;
        END
        
        -- 6. Parsear JSON de comodidades a tabla temporal
        INSERT INTO @ComodidadesTemp (nombre)
        SELECT value
        FROM OPENJSON(@comodidadesJson);
        
        -- Validar que al menos hay una comodidad
        IF NOT EXISTS (SELECT 1 FROM @ComodidadesTemp)
        BEGIN
            RAISERROR('Debe proporcionar al menos una comodidad para la habitación.', 16, 1);
            RETURN;
        END
        
        -- Validar que todas las comodidades existen
        IF EXISTS (
            SELECT 1 
            FROM @ComodidadesTemp ct
            WHERE NOT EXISTS (
                SELECT 1 FROM Comodidad c WHERE c.nombre = ct.nombre
            )
        )
        BEGIN
            RAISERROR('Una o más comodidades proporcionadas no existen en el sistema.', 16, 1);
            RETURN;
        END
        
        -- 7. Insertar la habitación
        INSERT INTO [dbo].[Habitacion] (
            tipoHabitacionID,
            estado,
            numero,
            cedulaJuridica,
            precio
        )
        VALUES (
            @tipoHabitacionID,
            1, -- Estado activo por default
            @numero,
            @cedulaJuridica,
            @precio
        );
        
        -- Obtener el ID de la habitación recién insertada
        SET @habitacionID = SCOPE_IDENTITY();
        -- 8. Insertar las fotos y relacionarlas con la habitación
        DECLARE @fotoTitulo VARCHAR(50);
        DECLARE @fotoUrl VARCHAR(150);
        DECLARE @fotoID INT;
        
        DECLARE foto_cursor CURSOR FOR
        SELECT titulo, url FROM @FotosTemp;
        
        OPEN foto_cursor;
        FETCH NEXT FROM foto_cursor INTO @fotoTitulo, @fotoUrl;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Insertar foto en tabla Foto
            INSERT INTO [dbo].[Foto] (titulo, url)
            VALUES (@fotoTitulo, @fotoUrl);
            
            SET @fotoID = SCOPE_IDENTITY();
            
            -- Relacionar foto con habitación
            INSERT INTO [dbo].[FotoHabitacion] (fotoID, habitacionID)
            VALUES (@fotoID, @habitacionID);
            
            FETCH NEXT FROM foto_cursor INTO @fotoTitulo, @fotoUrl;
        END
        
        CLOSE foto_cursor;
        DEALLOCATE foto_cursor;
        
        -- 9. Relacionar las comodidades con la habitación
        INSERT INTO [dbo].[HabitacionComodidad] (habitacionID, comodidadID)
        SELECT 
            @habitacionID,
            c.comodidadID
        FROM @ComodidadesTemp ct
        INNER JOIN Comodidad c ON c.nombre = ct.nombre;
        
        COMMIT TRANSACTION;
        
        -- 10. Retornar información de éxito
        SELECT 
            @habitacionID AS habitacionID,
            @cedulaJuridica AS cedulaJuridica,
            @tipoHabitacionID AS tipoHabitacionID,
            @numero AS numero,
            @precio AS precio,
            (SELECT COUNT(*) FROM @FotosTemp) AS cantidadFotos,
            (SELECT COUNT(*) FROM @ComodidadesTemp) AS cantidadComodidades,
            'Habitación insertada exitosamente' AS mensaje;
            
    END TRY
    BEGIN CATCH
        -- Rollback en caso de error
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        -- Capturar información del error
        SELECT @errorMessage = ERROR_MESSAGE(),
               @errorSeverity = ERROR_SEVERITY(),
               @errorState = ERROR_STATE();
               
        -- Re-lanzar el error
        RAISERROR(@errorMessage, @errorSeverity, @errorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarClienteConCuenta]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RegistrarClienteConCuenta]
(
    -- Datos de Cuenta
    @correo            VARCHAR(30),
    @contrasenia       VARBINARY(256),
    -- Datos de Cliente
    @identificacion    VARCHAR(12),
    @nombre            VARCHAR(20),
    @primerApellido    VARCHAR(20),
    @segundoApellido   VARCHAR(20) = NULL,
    @fechaNacimiento   DATE,
    @pais              VARCHAR(20),
    @provincia         VARCHAR(20),
    @canton            VARCHAR(20),
    @distrito          VARCHAR(20) = NULL,
    @telefono1         VARCHAR(8),
    @telefono2         VARCHAR(8) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRY
        BEGIN TRAN;
        -- Insertar Cuenta
        INSERT INTO Cuenta (correo, contrasenia, rolID)
        VALUES (@correo, @contrasenia, 1);
        DECLARE @cuentaID INT = SCOPE_IDENTITY();
        -- Obtener paisID
        DECLARE @paisID INT;
        SELECT @paisID = UPPER(paisID)
        FROM Pais
        WHERE nombre = @pais;
        IF @paisID IS NULL
            THROW 50002, 'País no válido', 1;
        -- Obtener distritoID SOLO si aplica
        DECLARE @distritoID INT = NULL;
        IF EXISTS (SELECT 1 FROM Pais WHERE paisID = @paisID AND nombre = 'COSTA RICA')
        BEGIN
            SELECT @distritoID = D.distritoID
            FROM Distrito D
            INNER JOIN Canton C ON D.cantonID = C.cantonID
            INNER JOIN Provincia P ON P.provinciaID = C.provinciaID
            WHERE
                UPPER(D.nombre) = UPPER(@distrito) AND
                UPPER(C.nombre) = UPPER(@canton) AND
                UPPER(P.nombre) = UPPER(@provincia);
            IF @distritoID IS NULL
                THROW 50003, 'Distrito / Cantón / Provincia no válidos', 1;
        END
        -- Insertar Cliente
        INSERT INTO Cliente
        (
            identificacion,
            nombre,
            primerApellido,
            segundoApellido,
            fechaNacimiento,
            paisID,
            distritoID,
            telefono1,
            telefono2,
            cuentaID
        )
        VALUES
        (
            @identificacion,
            @nombre,
            @primerApellido,
            @segundoApellido,
            @fechaNacimiento,
            @paisID,
            @distritoID,
            @telefono1,
            @telefono2,
            @cuentaID
        );
        COMMIT;
        SELECT @cuentaID AS cuentaID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarEmpresa]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_RegistrarEmpresa]
    @nombre VARCHAR(25),
    @cedulaJuridica VARCHAR(10),
    @nombreContacto VARCHAR(25),
    @correo VARCHAR(50),
    @telefono VARCHAR(8),
    @provincia VARCHAR(50),
    @canton VARCHAR(50),
    @distrito VARCHAR(50),
    @referencias VARCHAR(MAX),
    @descripcion VARCHAR(MAX),
    @correoAdmin VARCHAR(30),
    @contrasenia VARBINARY(MAX),
    @servicios NVARCHAR(MAX) = NULL,
    @tiposActividad NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    
    DECLARE @cuentaID INT;
    DECLARE @distritoID INT;
    
    BEGIN TRY
        BEGIN TRAN;
        -- Insertar cuenta
        INSERT INTO Cuenta (correo, contrasenia, rolID)
        VALUES (@correoAdmin, @contrasenia, 2);
        SET @cuentaID = SCOPE_IDENTITY();
        -- Obtener distritoID
        SELECT @distritoID = D.distritoID
        FROM Distrito D
        INNER JOIN Canton C ON D.cantonID = C.cantonID
        INNER JOIN Provincia P ON P.provinciaID = C.provinciaID
        WHERE
            UPPER(LTRIM(RTRIM(D.nombre))) = UPPER(LTRIM(RTRIM(@distrito))) AND
            UPPER(LTRIM(RTRIM(C.nombre))) = UPPER(LTRIM(RTRIM(@canton))) AND
            UPPER(LTRIM(RTRIM(P.nombre))) = UPPER(LTRIM(RTRIM(@provincia)));
        IF @distritoID IS NULL
            THROW 50003, 'Distrito inválido', 1;
        INSERT INTO Empresa (
            cedulaJuridica,
            nombre,
            correo,
            telefono,
            nombreContacto,
            distritoID,
            referencias,
            cuentaID,
            descripcion
        )
        VALUES (
            @cedulaJuridica,
            @nombre,
            @correo,
            @telefono,
            @nombreContacto,
            @distritoID,
            @referencias,
            @cuentaID,
            @descripcion
        );
        IF @servicios IS NOT NULL
        BEGIN
            INSERT INTO EmpresaServicio (cedulaJuridica, servicioID, activo)
            SELECT 
                @cedulaJuridica,
                S.servicioID,
                1
            FROM OPENJSON(@servicios) AS J
            INNER JOIN Servicio S ON UPPER(LTRIM(RTRIM(S.nombre))) COLLATE Modern_Spanish_CI_AS = UPPER(LTRIM(RTRIM(J.value))) COLLATE Modern_Spanish_CI_AS;
        END
        IF @tiposActividad IS NOT NULL
        BEGIN
            INSERT INTO ActividadesDisponibles (cedulaJuridica, tipoActividadID)
            SELECT 
                @cedulaJuridica,
                TA.tipoActividadID
            FROM OPENJSON(@tiposActividad) AS J
            INNER JOIN TipoActividad TA ON UPPER(LTRIM(RTRIM(TA.nombre))) COLLATE Modern_Spanish_CI_AS = UPPER(LTRIM(RTRIM(J.value))) COLLATE Modern_Spanish_CI_AS;
        END
        COMMIT TRAN;
        SELECT 
            @cuentaID AS cuentaID,
            @cedulaJuridica AS cedulaJuridica,
            'Empresa registrada exitosamente' AS mensaje;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarHospedaje]    Script Date: 1/2/2026 19:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RegistrarHospedaje]
    @nombre VARCHAR(50),
    @cedulaJuridica VARCHAR(10),
    @tipoHospedaje VARCHAR(20),
    @correo VARCHAR(30),
    @webURL VARCHAR(150) = NULL,
    @provincia VARCHAR(50),
    @canton VARCHAR(50),
    @distrito VARCHAR(50),
    @barrio VARCHAR(50),
    @referencias VARCHAR(MAX),
    @mapsLink VARCHAR(150) = NULL,
    @telefono1 VARCHAR(8),
    @telefono2 VARCHAR(8),
    @correoAdmin VARCHAR(30),
    @contrasenia VARBINARY(MAX),
    @redesSociales NVARCHAR(MAX) = NULL, 
    @servicios NVARCHAR(MAX) = NULL      
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    DECLARE @cuentaID INT;
    DECLARE @distritoID INT;
    DECLARE @tipoHospedajeID TINYINT;
    BEGIN TRY
        BEGIN TRAN;
        INSERT INTO Cuenta (correo, contrasenia, rolID)
        VALUES (@correoAdmin, @contrasenia, 3);
        SET @cuentaID = SCOPE_IDENTITY();
        SELECT @distritoID = D.distritoID
        FROM Distrito D
        INNER JOIN Canton C ON D.cantonID = C.cantonID
        INNER JOIN Provincia P ON P.provinciaID = C.provinciaID
        WHERE
            UPPER(LTRIM(RTRIM(D.nombre))) = UPPER(LTRIM(RTRIM(@distrito))) AND
            UPPER(LTRIM(RTRIM(C.nombre))) = UPPER(LTRIM(RTRIM(@canton))) AND
            UPPER(LTRIM(RTRIM(P.nombre))) = UPPER(LTRIM(RTRIM(@provincia)));
        IF @distritoID IS NULL
            THROW 50003, 'Distrito inválido', 1;
        SELECT @tipoHospedajeID = tipoHospedajeID
        FROM TipoHospedaje
        WHERE UPPER(LTRIM(RTRIM(nombre))) = UPPER(LTRIM(RTRIM(@tipoHospedaje)));
        IF @tipoHospedajeID IS NULL
            THROW 50004, 'Tipo de hospedaje no válido', 1;
        INSERT INTO Hospedaje (
            cedulaJuridica,
            nombre,
            tipoHospedajeID,
            correo,
            webURL,
            distritoID,
            barrio,
            referencias,
            telefono1,
            telefono2,
            cuentaID
        )
        VALUES (
            @cedulaJuridica,
            @nombre,
            @tipoHospedajeID,
            @correo,
            @webURL,
            @distritoID,
            @barrio,
            @referencias,
            @telefono1,
            @telefono2,
            @cuentaID
        );
        IF @redesSociales IS NOT NULL
        BEGIN
            INSERT INTO HospedajeRedSocial (cedulaJuridica, redSocialID, url)
            SELECT 
                @cedulaJuridica,
                RS.redSocialID,
                J.[value] AS url
            FROM OPENJSON(@redesSociales) AS J
            INNER JOIN RedSocial RS ON UPPER(LTRIM(RTRIM(RS.nombre))) COLLATE Modern_Spanish_CI_AS = UPPER(LTRIM(RTRIM(J.[key]))) COLLATE Modern_Spanish_CI_AS
            WHERE J.[value] IS NOT NULL AND LTRIM(RTRIM(J.[value])) <> '';
        END
        IF @servicios IS NOT NULL
        BEGIN
            INSERT INTO HospedajeServicio (cedulaJuridica, servicioID, activo)
            SELECT 
                @cedulaJuridica,
                S.servicioID,
                1  
            FROM OPENJSON(@servicios) AS J
            INNER JOIN Servicio S ON UPPER(LTRIM(RTRIM(S.nombre))) COLLATE Modern_Spanish_CI_AS = UPPER(LTRIM(RTRIM(J.value))) COLLATE Modern_Spanish_CI_AS;
        END
        COMMIT TRAN;
        SELECT 
            @cuentaID AS cuentaID,
            @cedulaJuridica AS cedulaJuridica,
            'Hospedaje registrado exitosamente' AS mensaje;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Comodidad"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 167
               Right = 246
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_comodidades'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_comodidades'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Empresa"
            Begin Extent = 
               Top = 25
               Left = 783
               Bottom = 285
               Right = 991
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Provincia"
            Begin Extent = 
               Top = 45
               Left = 534
               Bottom = 158
               Right = 742
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Distrito"
            Begin Extent = 
               Top = 192
               Left = 381
               Bottom = 305
               Right = 589
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Canton"
            Begin Extent = 
               Top = 9
               Left = 94
               Bottom = 122
               Right = 302
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_empresas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_empresas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_empresas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[11] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Comodidad"
            Begin Extent = 
               Top = 144
               Left = 131
               Bottom = 240
               Right = 339
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Foto"
            Begin Extent = 
               Top = 6
               Left = 284
               Bottom = 119
               Right = 492
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "FotoHabitacion"
            Begin Extent = 
               Top = 6
               Left = 530
               Bottom = 119
               Right = 738
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Habitacion"
            Begin Extent = 
               Top = 150
               Left = 635
               Bottom = 339
               Right = 843
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "HabitacionComodidad"
            Begin Extent = 
               Top = 18
               Left = 1055
               Bottom = 114
               Right = 1263
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TipoHabitacion"
            Begin Extent = 
               Top = 150
               Left = 1003
               Bottom = 299
               Right = 1211
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_habitacionesCompletas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_habitacionesCompletas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_habitacionesCompletas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[22] 4[3] 2[44] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_HabitacionesHotel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_HabitacionesHotel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Canton"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 246
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Distrito"
            Begin Extent = 
               Top = 6
               Left = 284
               Bottom = 119
               Right = 492
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Hospedaje"
            Begin Extent = 
               Top = 6
               Left = 530
               Bottom = 136
               Right = 738
            End
            DisplayFlags = 280
            TopColumn = 7
         End
         Begin Table = "Pais"
            Begin Extent = 
               Top = 109
               Left = 767
               Bottom = 225
               Right = 975
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Provincia"
            Begin Extent = 
               Top = 221
               Left = 74
               Bottom = 334
               Right = 282
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TipoHospedaje"
            Begin Extent = 
               Top = 120
               Left = 284
               Bottom = 216
               Right = 492
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_hospedajes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_hospedajes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_hospedajes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Habitacion"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 197
               Right = 246
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Hospedaje"
            Begin Extent = 
               Top = 130
               Left = 316
               Bottom = 276
               Right = 524
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Reservacion"
            Begin Extent = 
               Top = 6
               Left = 530
               Bottom = 225
               Right = 738
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_reservacionesCompletas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_reservacionesCompletas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Canton"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 246
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Distrito"
            Begin Extent = 
               Top = 153
               Left = 307
               Bottom = 266
               Right = 515
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Hospedaje"
            Begin Extent = 
               Top = 117
               Left = 532
               Bottom = 335
               Right = 740
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Provincia"
            Begin Extent = 
               Top = 10
               Left = 797
               Bottom = 123
               Right = 1005
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Reservacion"
            Begin Extent = 
               Top = 115
               Left = 1137
               Bottom = 320
               Right = 1345
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Habitacion"
            Begin Extent = 
               Top = 153
               Left = 824
               Bottom = 329
               Right = 1032
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Wi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_reservasGenerales'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'dth = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_reservasGenerales'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_reservasGenerales'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TipoCama"
            Begin Extent = 
               Top = 73
               Left = 58
               Bottom = 198
               Right = 266
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TipoHabitacion"
            Begin Extent = 
               Top = 23
               Left = 390
               Bottom = 198
               Right = 598
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_tipoHabitacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_tipoHabitacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[53] 4[8] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "P"
            Begin Extent = 
               Top = 67
               Left = 218
               Bottom = 180
               Right = 426
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PR"
            Begin Extent = 
               Top = 81
               Left = 764
               Bottom = 194
               Right = 972
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "C"
            Begin Extent = 
               Top = 232
               Left = 462
               Bottom = 345
               Right = 670
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "D"
            Begin Extent = 
               Top = 318
               Left = 101
               Bottom = 431
               Right = 309
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_ubicaciones'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_ubicaciones'
GO
