.activitySection{
    padding: 1rem;
    text-align: center;
    background: linear-gradient(to bottom, #1a1a1a, #111111);

    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.activitySection h2 {
    color: rgb(255, 255, 255);
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 0;
}

.activitySection h3 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 0;
}

.cardGrid{
    width: 80%;
    height: 50%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}