@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUp {
  animation: fadeUp 0.6s ease-out forwards;
}

.delay1 {
  animation-duration: 0.9s;
}
.delay2 {
  animation-duration: 0.12s;
}
.delay3 {
  animation-duration: 0.14s;
}
