@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUp {
  animation: fadeUp 0.25s ease-out forwards;
}

.delay1 {
  animation-duration: 0.50s;
}
.delay2 {
  animation-duration: 0.75s;
}
.delay3 {
  animation-duration: 1s;
}
