.formContainer{
    max-width: 100%;
    max-height: 100%;
    padding: 2rem;
}

.formGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    gap: 1.5rem ;
    
}